body{
    display: flex;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#midWrapper {
    display: flex;
    justify-content: space-around;
}