/* styling for the Footer */

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #67a165;
    box-shadow: 0px 25px 30px 20px black;
    color: white;
    font-size: 1.2vw;
}